Repository freaghill/hangjegyzet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hangjegyzet/core-team, @hangjegyzet/frontend, @hangjegyzet/backend, @hangjegyzet/dba, @hangjegyzet/ai-team, @hangjegyzet/security, @hangjegyzet/devops, @hangjegyzet/docs-team, @hangjegyzet/qa

chore: update dependencies
  package-lock.json
  package.json
  prisma/schema.prisma
Owners: @hangjegyzet/core-team, @hangjegyzet/security, @hangjegyzet/backend, @hangjegyzet/dba

chore: update dependencies
  .husky/pre-commit
  .husky/pre-push
Owners: @hangjegyzet/core-team

fix: update vercel.json for hobby plan - change cron to daily and use npm
  vercel.json
Owners: @hangjegyzet/devops

chore: add deploy with Vercel button to trigger deployment
  README.md
Owners: @hangjegyzet/core-team

chore: trigger initial deployment
  deployment.log
Owners: @hangjegyzet/core-team

fix: remove duplicate next.config files to fix Vercel deployment
  next.config.mjs
  next.config.ts
Owners: @hangjegyzet/core-team

fix: skip husky install on Vercel and fix vercel.json
  package.json
  vercel.json
Owners: @hangjegyzet/core-team, @hangjegyzet/security, @hangjegyzet/devops

fix: add missing UI components for build
  add-vercel-env.sh
  components/settings/google-drive-integration.tsx
  components/ui/accordion.tsx
  components/ui/command.tsx
  components/ui/dropdown-menu.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/table.tsx
  components/ui/use-toast.tsx
  middleware/staging-auth.ts
Owners: @hangjegyzet/core-team, @hangjegyzet/frontend, @hangjegyzet/security

fix: add remaining missing UI components and Uppy locales
  components/ui/calendar.tsx
  components/ui/checkbox.tsx
  components/ui/slider.tsx
  package-lock.json
  package.json
Owners: @hangjegyzet/frontend, @hangjegyzet/core-team, @hangjegyzet/security

fix: add missing auth configuration and fix Supabase server client
  lib/auth.ts
  lib/supabase/server.ts
  package-lock.json
  package.json
Owners: @hangjegyzet/backend, @hangjegyzet/core-team, @hangjegyzet/security

fix: add missing API routes for analytics and notifications
  app/api/analytics/usage/route.ts
  app/api/notifications/route.ts
Owners: @hangjegyzet/backend

fix: add missing prisma and supabase admin modules
  lib/prisma.ts
  lib/supabase/admin.ts
Owners: @hangjegyzet/backend

fix: add missing Barion client and dashboard navigation components
  components/dashboard/nav.tsx
  lib/payments/providers/barion/client.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend

fix: add dashboard header component and LangChain core dependency
  components/dashboard/header.tsx
  package-lock.json
  package.json
Owners: @hangjegyzet/frontend, @hangjegyzet/core-team, @hangjegyzet/security

fix: add missing React Email and Azure Identity dependencies
  package-lock.json
  package.json
Owners: @hangjegyzet/core-team, @hangjegyzet/security

fix: add missing format utilities and transcription mode hook
  hooks/use-transcription-mode.ts
  lib/utils/format.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend

fix: resolve syntax error in analytics and add Billingo client
  lib/monitoring/vercel-analytics.ts
  lib/payments/providers/billingo/client.ts
Owners: @hangjegyzet/backend

fix: add React import, validation dependencies, and client-side admin auth
  app/admin-new/page.tsx
  lib/admin/auth-client.ts
  lib/monitoring/vercel-analytics.ts
  package-lock.json
  package.json
Owners: @hangjegyzet/frontend, @hangjegyzet/backend, @hangjegyzet/core-team, @hangjegyzet/security

fix: resolve analytics JSX issues and server/client component separation
  app/(dashboard)/settings/api/page.tsx
  lib/api/keys-client.ts
  lib/monitoring/vercel-analytics-simple.tsx
  lib/monitoring/vercel-analytics.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend

fix: resolve Vercel deployment issues
  app/(dashboard)/settings/billing/page.tsx
  components/analytics/business-analytics.tsx
  components/analytics/performance-analytics.tsx
  components/analytics/usage-analytics.tsx
  lib/analytics/analytics-service-client.ts
  lib/export/template-engine.ts
  lib/payments/subscription.ts
  next.config.js
Owners: @hangjegyzet/frontend, @hangjegyzet/backend, @hangjegyzet/core-team

fix: add missing Uppy peer dependencies for Vercel build
  package-lock.json
  package.json
Owners: @hangjegyzet/core-team, @hangjegyzet/security

fix: resolve more Vercel build issues
  app/(marketing)/pricing/page.tsx
  app/admin/monitoring/page.tsx
  app/api/health/metrics/route.ts
  components/import/universal-importer.tsx
  components/migration/migration-wizard.tsx
  components/transcription/mode-selector.tsx
  components/usage/mode-usage-dashboard.tsx
  components/usage/usage-forecast.tsx
  lib/monitoring/metrics.ts
  lib/payments/subscription-plans.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend

fix: complete Vercel deployment fixes
  components/settings/calendar-integration.tsx
  components/settings/google-drive-integration.tsx
  components/settings/minicrm-integration.tsx
  components/settings/notification-settings.tsx
  components/settings/vocabulary-manager.tsx
  components/settings/zoom-integration.tsx
  lib/email/email-service.ts
  lib/monitoring/rate-limiter.ts
  lib/payments/payment-manager-v2.ts
  lib/queue/config.ts
  lib/redis.ts
  lib/security/headers.ts
  lib/security/rate-limiter.ts
  lib/supabase/admin.ts
  middleware.ts
  middleware/security-edge.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend, @hangjegyzet/security

fix: convert SSE export to internal handler function
  app/api/realtime/analysis/route.ts
Owners: @hangjegyzet/backend

fix: resolve Vercel build errors
  app/(dashboard)/dashboard/settings/page.tsx
  app/api/import/upload/route.ts
  app/api/import/zoom/callback/route.ts
  app/api/import/zoom/recordings/route.ts
  app/api/v1/webhooks/zapier/route.ts
  components/settings/calendar-integration.tsx
  components/settings/google-drive-integration.tsx
  components/settings/integration-settings.tsx
  components/settings/minicrm-integration.tsx
  components/settings/notification-settings.tsx
  components/settings/vocabulary-manager.tsx
  components/settings/vocabulary-settings.tsx
  components/settings/zoom-integration.tsx
  lib/supabase/admin.ts
Owners: @hangjegyzet/frontend, @hangjegyzet/backend

fix: resolve createClient naming conflict in admin.ts
  lib/supabase/admin.ts
Owners: @hangjegyzet/backend

fix: correct settings page import path in lazy-pages
  app/(dashboard)/lazy-pages.ts
Owners: @hangjegyzet/frontend

fix: correct billing and integrations page import paths
  app/(dashboard)/lazy-pages.ts
Owners: @hangjegyzet/frontend

fix: add type assertion for metadata.language property
  app/(dashboard)/meetings/[id]/page.tsx
Owners: @hangjegyzet/frontend

fix: transform transcript segments to match CollaborativeAnnotations component props
  app/(dashboard)/meetings/[id]/page.tsx
Owners: @hangjegyzet/frontend

fix: handle possibly undefined systemMetrics.cpu value
  app/(dashboard)/monitoring/technical/page.tsx
Owners: @hangjegyzet/frontend

fix: replace apiKeyManager references with direct function imports
  app/(dashboard)/settings/api/page.tsx
Owners: @hangjegyzet/frontend

fix: remove argument from listApiKeys function call
  app/(dashboard)/settings/api/page.tsx
  auto-fix-build.sh
Owners: @hangjegyzet/frontend, @hangjegyzet/core-team

fix: correct generateApiKey function parameters
  app/(dashboard)/settings/api/page.tsx
Owners: @hangjegyzet/frontend

fix: remove isActive property references from ApiKey usage
  app/(dashboard)/settings/api/page.tsx
Owners: @hangjegyzet/frontend

fix: correct ApiKey property names and remove non-existent rateLimit
  app/(dashboard)/settings/api/page.tsx
Owners: @hangjegyzet/frontend

fix: correct ModeSelector prop names
  app/(dashboard)/transcription-demo/page.tsx
Owners: @hangjegyzet/frontend

fix: pass plan.price instead of plan object to calculateYearlyPrice
  app/(marketing)/pricing/page.tsx
Owners: @hangjegyzet/frontend

fix: use planId to check for enterprise plan instead of non-existent property
  app/(marketing)/pricing/page.tsx
  monitor-and-fix.sh
Owners: @hangjegyzet/frontend, @hangjegyzet/core-team

fix: add hardcoded descriptions for pricing plans
  app/(marketing)/pricing/page.tsx
Owners: @hangjegyzet/frontend

.github/CODEOWNERS:

# CODEOWNERS for Hangjegyzet

# Global owners
* @hangjegyzet/core-team

# Frontend
/app/ @hangjegyzet/frontend
/components/ @hangjegyzet/frontend
/hooks/ @hangjegyzet/frontend
/styles/ @hangjegyzet/frontend
*.css @hangjegyzet/frontend
*.scss @hangjegyzet/frontend

# Backend
/app/api/ @hangjegyzet/backend
/lib/ @hangjegyzet/backend
/server/ @hangjegyzet/backend
/workers/ @hangjegyzet/backend

# Database
/prisma/ @hangjegyzet/backend @hangjegyzet/dba
*.sql @hangjegyzet/dba

# AI/ML
/lib/ai/ @hangjegyzet/ai-team
/workers/ai-processing.worker.ts @hangjegyzet/ai-team

# Security
/lib/security/ @hangjegyzet/security
/middleware* @hangjegyzet/security
.env* @hangjegyzet/security

# DevOps
/.github/ @hangjegyzet/devops
/scripts/ @hangjegyzet/devops
Dockerfile @hangjegyzet/devops
docker-compose* @hangjegyzet/devops
vercel.json @hangjegyzet/devops

# Documentation
/docs/ @hangjegyzet/docs-team
*.md @hangjegyzet/docs-team
/README.md @hangjegyzet/core-team

# Tests
/tests/ @hangjegyzet/qa
/__tests__/ @hangjegyzet/qa
*.test.ts @hangjegyzet/qa
*.test.tsx @hangjegyzet/qa
*.spec.ts @hangjegyzet/qa
jest.config.js @hangjegyzet/qa
playwright.config.ts @hangjegyzet/qa

# Dependencies
package.json @hangjegyzet/core-team @hangjegyzet/security
package-lock.json @hangjegyzet/core-team @hangjegyzet/security
pnpm-lock.yaml @hangjegyzet/core-team @hangjegyzet/security
